<div class="d-flex justify-content-center align-items-center m-auto h-100 w-75">
	<form
		method="post"
		class="card text-dark text-center w-100"
		style="box-shadow: 2px 1px 38px -11px rgba(255, 255, 255, 0.3)"
	>
		<fieldset>
			<legend class="card-header">
				<h1>Cadastrar</h1>
			</legend>
			<div class="card-body">
				{{status}}
				<div class="form-group">
					<label for="name">Nome</label>
					<input
						type="text"
						name="name"
						id="name"
						class="form-control"
						required
						autofocus
					/>
				</div>
				<div class="form-group">
					<label for="email">E-mail</label>
					<input
						type="email"
						name="email"
						id="email"
						class="form-control"
						placeholder="email@example.com"
						required
					/>
				</div>
				<div class="form-group my-3">
					<label for="password">Senha</label>
					<input
						type="password"
						name="password"
						id="password"
						class="form-control"
						required
					/>
				</div>
				<div class="mt-4">
					<button
						type="submit"
						class="form-control btn btn-lg btn-primary shadow rounded"
					>
						Cadastrar
					</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
